container_commands:
    01_makemigrations:
        command: "source /var/app/venv/*/bin/activate && python3 fanreceive/manage.py makemigrations --noinput"
        leader_only: true
    02_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 fanreceive/manage.py migrate --noinput"
        leader_only: true
    02_createsuperuser:
        command: "source /var/app/venv/*/bin/activate && python3 fanreceive/manage.py createsuperuser"
        leader_only: true

option_settings:
    aws:elasitcbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "fanreceive.fanreceive.settings"
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
        ALLOWED_HOSTS: ".elasticbeanstalk.com"
    aws:elasitcbeanstalk:container:python:
        WSGIPath: "fanreceive.fanreceive.wsgi:application"
    