option_settings:
    aws:elasticbeanstalk:environment:proxy:staticfiles:
        /static: fanreceive/static/
    aws:elasticbeanstalk:container:python:
        WSGIPath: "fanreceive.wsgi:application"
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "fanreceive.settings"
        PYTHONPATH: "/var/app/current/fanreceive:$PYTHONPATH"
        ALLOWED_HOSTS: ".elasticbeanstalk.com"
        ELASTICACHE_URL_BACKEND: "redis://fanserv-redis-cluster.2uteit.ng.0001.use1.cache.amazonaws.com:6379"
        ELASTICACHE_URL_RESULT_BACKEND: "redis://fanserv-redis-cluster.2uteit.ng.0001.use1.cache.amazonaws.com:6379/0"

container_commands:
    01_makemigrations:
        command: "source /var/app/venv/*/bin/activate && python3 fanreceive/manage.py makemigrations --noinput"
        leader_only: true
    02_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 fanreceive/manage.py migrate --noinput"
        leader_only: true
    03_collectstatic:
        command: "source /var/app/venv/*/bin/activate && python3 fanreceive/manage.py collectstatic --noinput"
        leader_only: true
    04_createsuperuser:
        command: "source /var/app/venv/*/bin/activate && python3 fanreceive/manage.py createsu"
        leader_only: true
