commands:
  01_install_dependencies:
    command: "pip install -r requirements.txt"
  02_collectstatic:
    command: "python manage.py collectstatic --noinput"
  03_migrate:
    command: "python manage.py migrate"

container_commands:
  01_start_server:
    command: "python manage.py runserver 0.0.0.0:8000"

option_settings:
    aws:elasticbeanstalk:container:python:
        WSGIPath: fanreceive/fanreceive/wsgi.py
    aws:elasticbeanstalk:application:environment:
        DJANGO_SETTINGS_MODULE: "fanreceive.fanreceive.settings
        PYTHONPATH: "/var/app/current:$PYTHONPATH"
        ALLOWED_HOSTS: ".elasticbeanstalk.com"
